
.tile-list-item {
  height: 80;
}

.tile-list-item text {
  height: 30;
  font-family: System-Regular;
  font-size: 25;
  fill: greenyellow;
  text-align: right
}

.tile-divider-bottom {
  x: 0;
  y: 100%-2;
  width: 100%;
  height: 2;
  fill: fb-extra-dark-gray;
}